<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autodesk.Revit.SDK" version="2022.0.2.392" targetFramework="net48" />
  <package id="MaterialDesignColors" version="3.0.0-ci484" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="5.0.0-ci484" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
</packages>