<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autodesk.Revit.SDK" version="2022.0.2.392" targetFramework="net48" />
  <package id="MaterialDesignColors" version="3.0.0-ci484" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="5.0.0-ci484" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Http" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ClientModel" version="1.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Memory.Data" version="1.0.2" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.7.2" targetFramework="net48" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>